<h1>Login</h1>

<form action="/login" method="POST">

  <label>
    Email:
    <input type="email" name="email" required>
  </label>

  <br><br>

  <label>
    Password:
    <input type="password" name="password" required>
  </label>

  <br><br>

  <button type="submit">Login</button>

</form>

<p>
  Don't have an account? <a href="/register">Register</a>
</p>